<h1 id="tableLabel">Exchange rates</h1>


<div *ngIf="!currencyRates" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">.</span>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="currencyRates">
  <thead>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Exchange rate</th>
    <th class="extra-Info-for-big-screen">Internal rate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let currencyRate of currencyRates">
    <td>{{ currencyRate.fromCurrency }}</td>
    <td>{{ currencyRate.toCurrency }}</td>
    <td>{{ currencyRate.finalExchangeRate }}</td>
    <td class="extra-Info-for-big-screen">{{ currencyRate.exchangeRate }}</td>
  </tr>
  </tbody>
</table>

<p>This is updated hourly.</p>

<div class="row mt-5">
  <app-currency-converter></app-currency-converter>
</div>



